project:
  type: website

format:
  html:
    theme:
      - cosmo
      - custom.scss
    css: styles.css
    toc: true
    toc-depth: 4

website:
  twitter-card: true
  open-graph: true
  repo-actions: [issue]
  navbar:
    title: "Fred's fast.ai cookbook"
    background: "#fcf9ef"
    search: true
    right:
      - text: "Blog"
        href: blog/index.qmd
      - icon: github
        href: "https://github.com/fredguth/ffc"
        aria-label: Freds fastai cookbook on Github
      - icon: twitter
        href: https://twitter.com/fredguth
        aria-label: fredguth at Twitter
  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]
