
/*-- scss:rules --*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, Georgia, Cambria;
}

.description {
  font-style: normal !important;
  font-family: "Gilroy", -apple-system, sans-serif;
  font-weight: 300 !important;
}
.navbar-logo {
  max-height: 80px;
}
.navbar-title {
  font-family: "Gilroy", -apple-system, sans-serif;
}

blockquote {
  display: block;
  border-left: 3px solid #962910;
  color: #1a1a1a;
  font-family: Merriweather, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

